.popup{
    background-color: #F6F5F5;
    border: 20px solid #466EBF;
    border-radius: 40px;      
    width: 250px;
    height: 150px; 
    max-width: 300px;
    position: relative;
    display: none;
    position: fixed;
    left: 6rem;
    
}

.yes{
    display: block;
}



.share{
    position: absolute;
    left: 7rem;
    bottom: 8.5rem;
    width: 40px;
}

.share-friends{
    position: relative;
    left: 3rem;
    font-size: var(--h3-size);
}

p{
    position: relative;
    left: 0.7rem;
    bottom: 1.5rem;
}

.sharelabel{
    position: relative;
    bottom: 2.5rem;
    left: 0.7rem;
}

input{
    position: relative;
    left: 0.7rem;
    width: 13rem;
    bottom: 2.5rem;
    border-radius: 1.25rem;
}
.link{
    position: relative;
    bottom: 2.2rem;
    right: 0.8rem;
}


.media{
    position: relative;
    left: 2.5rem;
    bottom: 1.5rem;
    width: 30px;
}





