body {
    font-family: parkinsans;
    margin: 0;
    padding: 0;
}



header {
    /* margin-inline: 2em; */


    nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .navright {
            margin-top: 15px;

            .logoright {
                @media (min-width: 768px) {
                    margin-top: 5px;
                    width: 90px;
                }

                @media (min-width: 1024px) {
                    margin-top: 20px;
                    width: 100px;
                }
            }
        }

        .logoleft {
            @media (min-width: 768px) {
                width: 60px;
            }

            @media (min-width: 1024px) {
                width: 70px;
            }
        }

    }
}


.hero{
    display: flex;
    flex-direction: column;
}


.find-it{
    align-items: flex-end;
}









footer {
    display: flex;
    flex-direction: column;
    background-color: beige;

    form {
        background-color: var(--formcolor);


        .h3-footer {
            color: white;
            padding-inline-start: 1em;
        }
    }


    .wrapper {
        position: relative;
        top: 3em;
        width: 95%;
        margin: 0 auto;



        @media (min-width: 768px) {
            width: 50%;
            left: 150px;
        }

        @media (min-width: 1024px) {
            width: 50%;
            left: 200px;
        }




        .email {
            width: 100%;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #ccc;


            @media (min-width: 768px) {}
        }

        .formbutton {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            aspect-ratio: 1/1;
            border: none;
            background: none;
            cursor: pointer;
            z-index: 10;
            padding: 0;
        }
    }
}



.footerlogo {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding-inline-start: 1em;



    .milledoniimg {
        width: 150px;
    }
}



.footersection {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 0;
    padding-inline: 2em;
    list-style: none;

    ul {
        padding: 0;

    }


    @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);

    }

    .titel-list {
        font-weight: bold;
    }
}




.legalpages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    color: black;
    margin: 0;
    padding: 0;
    padding-inline-start: 2.5em;
    list-style: none;

    @media (min-width: 768px) {

        grid-template-columns: repeat(6, 1fr);

    }



    .legal {
        @media (min-width: 768px) {

            margin-left: 2rem;

        }

    }
}


























.popup {
    background-color: #F6F5F5;
    border: 20px solid #466EBF;
    border-radius: 40px;
    width: 250px;
    height: 150px;
    max-width: 300px;
    position: relative;
    display: none;
    left: 6rem;


}

.yes {
    display: block;
}



.share {
    position: absolute;
    left: 7rem;
    bottom: 8.5rem;
    width: 40px;
}

.share-friends {
    position: relative;
    left: 3rem;
    font-size: var(--h3-size);
}

p {
    position: relative;
    left: 0.7rem;
    bottom: 1.5rem;
}

.sharelabel {
    position: relative;
    bottom: 2.5rem;
    left: 0.7rem;
}

input {
    position: relative;
    left: 0.7rem;
    width: 13rem;
    bottom: 2.5rem;
    border-radius: 1.25rem;
}

.link {
    position: relative;
    bottom: 2.2rem;
    right: 0.8rem;
}


.media {
    position: relative;
    left: 2.5rem;
    bottom: 1.5rem;
    width: 30px;
}

.bike-img {
    width: 200px;
}

.bike-img-klein {
    width: 50px;
    position: relative;
    top: 3rem;
    right: 12rem;
}



footer {
    display: flex;
    flex-direction: column;
    background-color: beige;

    form {
        background-color: var(--formcolor);


        .h3-footer {
            color: white;
            padding-inline-start: 1em;
        }
    }


    .wrapper {
        position: relative;
        width: 95%;
        margin: 0 auto;



        @media (min-width: 768px) {
            width: 50%;
            left: 150px;
        }

        @media (min-width: 1024px) {
            width: 50%;
            left: 200px;
        }




        .email {
            width: 100%;
            height: 40px;
            border-radius: 20px;
            border: 1px solid #ccc;


            @media (min-width: 768px) {}
        }

        .formbutton {
            position: absolute;
            right: 0;
            top: 0;
            height: 100%;
            aspect-ratio: 1/1;
            border: none;
            background: none;
            cursor: pointer;
            z-index: 10;
            padding: 0;
        }
    }
}



.footerlogo {
    display: flex;
    flex-direction: column;
    background-color: beige;
    padding-inline-start: 1em;



    .milledoniimg {
        width: 150px;
    }
}



.footersection {
    color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-block: 0;
    padding-inline: 2em;
    list-style: none;

    ul {
        padding: 0;

    }


    @media (min-width: 768px) {
        grid-template-columns: repeat(6, 1fr);

    }

    .titel-list {
        font-weight: bold;
    }
}




.legalpages {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: beige;
    color: black;
    margin: 0;
    padding: 0;
    padding-inline-start: 2.5em;
    list-style: none;

    @media (min-width: 768px) {

        grid-template-columns: repeat(6, 1fr);

    }



    .legal {
        @media (min-width: 768px) {

            margin-left: 2rem;

        }

    }
}